.bottom-border-input {
    border: none; 
    border-bottom: 2px solid rgb(218, 220, 224) !important;
    outline: none; 
    padding: 8px; 
    width: 100%; 
    margin: 0px !important;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .bottom-border-input:focus {
    border-bottom: 2px solid #6c757d !important; 
  }

  .color {
      background-color: #6c757d !important;
      border-color: #6c757d !important;
  }

  .custom-form {
      max-width: 740px !important;
      margin:  70px auto 0px !important;
      border: 1px solid rgb(218, 220, 224);;
      background-color: #fff;
      border-radius: 8px;
  }


  .p-8 {
    padding: 0px 8px 8px;
  }

  .w-150{
      max-width: 150px !important;
  }

  .m-8{
      margin: 0 8px !important;
  }

  .border-raduis {
      border-radius: 8px;
  }

  .mt-16 {
      margin-top: 16px !important;
  }

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important; 
}

.form-container {
    margin-right: 5px;
    width: 740px;
}